In [1]:
number = 1
print(number)

1

In [2]:
number = 5
print(number)

5

In [3]:
UAH2USD = 27.15
print(UAH2USD)

27.15

In [4]:
2UAH = 5

SyntaxError: invalid syntax (<ipython-input-4-dde7d3a81939>, line 1)

In [5]:
Курс_Гривні = 27.15
print(Курс_Гривні)

27.15

In [6]:
Nothing = None
print(Nothing)

None

In [10]:
string_single_quotes = 'Some text'
string_double_quotes = "Some text"
print(string_single_quotes)
print(string_double_quotes)

Some text
Some text

In [13]:
message = 'Немає з'єдання, спробуйте пізніше'
print(message)

SyntaxError: invalid syntax (<ipython-input-13-d7a3935f647b>, line 1)

In [14]:
message = "Немає з'єдання, спробуйте пізніше"
print(message)

Немає з'єдання, спробуйте пізніше

In [15]:
reply = 'А він сказав: "Курс валют"'
print(reply)

А він сказав: "Курс валют"

In [16]:
escaping = 'I don\'t know'
print(escaping)

I don't know

In [17]:
new_line = 'First line\nSecond line'
print(new_line)

First line
Second line

In [18]:
tabulation = 'First line\nSecond line\n\tThird line with offset'
print(tabulation)

First line
Second line
	Third line with offset

In [24]:
very_long_text = 'First line\nSecond line\n'\
'\tThird line with offset\nFourth line'
print(very_long_text)

First line
Second line
	Third line with offset
Fourth line

In [25]:
very_triple_quotes = '''Test1'''
very_triple_quotes = """Test2"""

In [31]:
very_triple_quotes = """First line
Second line
    Third line
Fourth line"""
print(very_triple_quotes)

First line
Second line
    Third line
Fourth line	First line
Second line
    Third line
Fourth line1

In [34]:
print("Text 1", end='\t')
print("Text 2", end=None)

Text 1	Text 2

In [36]:
len(str(number))

1

In [37]:
number = 100
number_as_text = "100"
number_as_str = str(number)
number_as_int = int(number_as_str)
print(number)
print(number_as_text)
print(number_as_str)
print(number_as_int)

100
100
100
100

In [38]:
number_as_int = int('number_as_str')

ValueError: invalid literal for int() with base 10: 'number_as_str'

In [39]:
number = 100
number = 200
number = "Number"
print(number)

Number

In [40]:
number_len = len(number)
print(number_len)

6

In [41]:
ord('A')

65

In [42]:
chr(0)

'\x00'

In [43]:
chr(1)

'\x01'

In [44]:
chr(65)

'A'

In [45]:
first_letter = number[0]
print(first_letter)

N

In [46]:
last_letter = number[-1]
print(last_letter)

r

In [50]:
slice_number = number[2:4]
print(slice_number)

mb

In [65]:
slice_number = number[:]
print(slice_number)

Numb

In [66]:
slice_number = number[:4]
print(slice_number)

Numb

In [67]:
slice_number = number[2:]
print(slice_number)

mber

In [68]:
slice_number = number[1:6:2]
print(slice_number)

ubr

In [70]:
slice_number = number[::-1]
print(slice_number)

rebmuN

In [73]:
error_slice_number = number[8]

IndexError: string index out of range

In [97]:
number[-4:]

'mber'

In [99]:
BAD_format = '%d' % 5
print(BAD_format)

5

In [121]:
pattern = 'Pattern text: {}, {}, {}'
print(pattern.format(1,2,3))

pattern = 'Pattern text: {0}, {1}, {0}'
print(pattern.format(1, 2))

pattern = '{msg}    {end}'
print(pattern.format(end=len(number), msg='Message'))

Pattern text: 1, 2, 3
Pattern text: 1, 2, 1
Message    6

In [120]:

pattern = '{msg}    {end[2]}'
print(pattern.format(end='asdasd', msg='Message'))

TypeError: 'int' object is not subscriptable

In [119]:
pattern = f'Text: {number}'
print(pattern)

Text: 6

In [122]:
x = 1
y = 2

In [123]:
print(x + y)

3

In [124]:
print(x - y)

-1

In [125]:
print(x * y)

2

In [126]:
print(x / y)

0.5

In [127]:
print(1/3)

0.3333333333333333

In [130]:
print(f'Сумммма чисел {x} та {y} = {x + y}')

Сумммма чисел 1 та 2 = 3

In [131]:
x = 2
y = 2
print(x ** y)

4

In [133]:
print(4 ** (1/2))

2.0

print((2 + 2) * 2)

In [134]:
print((2 + 2) * 2)

8

In [135]:
print(2 + 2 * 2)

6

In [136]:
print(3 % 4)

3

In [137]:
print(5 % 4)

1

In [138]:
print(10 % 4)

2

In [139]:
print(10 // 4)

2

In [140]:
print(3 // 4)

0

In [141]:
print(2 + 2)

4

In [142]:
print('2' + '2')

22

In [148]:
print('NaN' * 9 + '      Batman!')

NaNNaNNaNNaNNaNNaNNaNNaNNaN      Batman!

In [151]:
print(f'{"NaN" * 9}      Batman!')

NaNNaNNaNNaNNaNNaNNaNNaNNaN      Batman!

In [167]:
print('     Batman!'.format())

     Batman!

In [173]:
print(f'{number} asdasdsd')

Number asdasdsd

In [172]:
print('LoL')

LoL

In [174]:
occ = 'abracadabra'.count('a')
print(occ)

5

In [175]:
number[-6:]

'Number'

In [176]:
number[-666:666]

'Number'

In [179]:
number[:-1]

'Numbe'

In [182]:
number[:3] + '...'

'Num...'

In [181]:
number[:6]

'Number'

In [184]:
'1'[:3]

'1'

In [186]:
'1'[:3] + ('_' * 4)

'1____'

In [193]:
num = '1234576wq23sdwe'
f'{num:_<10}'

'1234576wq23sdwe'

In [210]:
floats = 10/3
f'{floats:.2f}'

'3.33'

In [211]:
number = 100
number = "100"
print(number)

100

In [213]:
floats = 10/3
f'{floats:>06.2f}'

'003.33'

In [220]:
floats = 10
f'{floats:0110d}'

'00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010'